<h1>Datenexploration</h1>

<h3>Korpora: Harry Potter Original vs. Harry Potter Fanfiction</h3>

In [1]:
import pandas as pd
import math
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt

In [2]:
hp_o = pd.read_csv('data/df_original.csv')
hp_o

,Unnamed: 0,Autor,Titel,Übersetzer,Original_Titel,ISBN,Datum,Text,removed_stop_word_lower,removed_stop_word,number_of_tokens,number_of_types,clean_text,network_text
0,0,J.K. Rowling,HARRY POTTER und der Gefangene von Askaban,Klaus Fritz,Harry Potter and the Prisoner of Azkaban,978-1-78110-057-8,1999,"\n\n\nFür Jill Prewett und Aine Kiely,\n\ndie ...","\n\n\nfür jill prewett und aine kiely,\n\ndie ...","jill prewett aine kiely, patinnen souls inhalt...",115980.0,19479.0,jill prewett aine kiely patinnen souls inhalt ...,für jill prewett und aine kiely die patinne...
1,1,J.K. Rowling,HARRY POTTER und der Halbblutprinz,Klaus Fritz,Harry Potter and the Half-Blood Prince,978-1-78110-060-8,2005,"\n\n\nMackenzie,\n\nmeiner schönen Tochter,\n\...","\n\n\nmackenzie,\n\nmeiner schönen tochter,\n\...","mackenzie, schönen tochter, widme zwilling tin...",179884.0,26838.0,mackenzie schönen tochter widme zwilling tinte...,mackenzie meiner schönen tochter widme ich...
2,2,J.K. Rowling,HARRY POTTER und der Orden des Phönix,Klaus Fritz,Harry Potter and the Order of the Phoenix,978-1-78110-059-2,2003,"\n\n\n\n\nFür Neil, Jessica und David,\n\ndie ...","\n\n\n\n\nfür neil, jessica und david,\n\ndie ...","neil, jessica david, welt verzaubern inhalt du...",268898.0,35356.0,neil jessica david welt verzaubern inhalt dudl...,für neil jessica und david die meine welt ...
3,3,J.K. Rowling,HARRY POTTER und der Stein der Weisen,Klaus Fritz,Harry Potter and the Philosopher’s Stone,978-1-78110-055-4,1997,"\n\n\n\nFür Jessica, für Anne und fü Di;\n\nJe...","\n\n\n\nfür jessica, für anne und fü di;\n\nje...","jessica, anne fü di; jessica mag geschichten, ...",84152.0,15910.0,jessica anne fü di jessica mag geschichten ann...,für jessica für anne und fü di jessica mag ...
4,4,J.K. Rowling,HARRY POTTER und die Heiligtümer des Todes,Klaus Fritz,Harry Potter and the Deathly Hallows,978-1-78110-061-5,2007,\n\n\nDie\n\nWidmung\n\ndieses Buches\n\nist\n...,\n\n\ndie\n\nwidmung\n\ndieses buches\n\nist\n...,"widmung buches siebengeteilt: neil, jessica, d...",207576.0,29725.0,widmung buches siebengeteilt neil jessica davi...,die widmung dieses buches ist siebengete...
5,5,J.K. Rowling,HARRY POTTER und die Kammer des Schreckens,Klaus Fritz,Harry Potter and the Chamber of Secrets,978-1-78110-056-1,1998,"\n\n\nFür Sean P. F. Harris,\n\nFluchtwagen-Fa...","\n\n\nfür sean p. f. harris,\n\nfluchtwagen-fa...","sean p. f. harris, fluchtwagen-fahrer freund s...",91968.0,17391.0,sean p f harris fluchtwagen fahrer freund stür...,für sean p f harris fluchtwagen fahrer und ...
6,6,J.K. Rowling,HARRY POTTER und der Feuerkelch,Klaus Fritz,Harry Potter and the Goblet of Fire,978-1-78110-058-5,2000,"Für Peter Rowling,\n\nin Erinnerung an Mr Ridl...","für peter rowling,\n\nin erinnerung an mr ridl...","peter rowling, erinnerung mr ridley, susan sla...",203341.0,29070.0,peter rowling erinnerung mr ridley susan sladd...,für peter rowling in erinnerung an mr ridley ...

In [3]:
hp_ff = pd.read_csv('data/df_fanfiction.csv')
hp_ff

,Unnamed: 0,Autor,Titel,Datum,Text
0,k00500000295,Child of Time,Artemis Fowl Neu Anfang,2016,"Irland, Fowl ManorIch sitze mit Artemis im W..."
1,k00500000306,berg-ulme,Die Atlantiskrise,2013,Die Atlantiskrise Titel: „Die Atlantiskrise...
2,k00500000525,Little Jewel,Die pure Hoelle,2012,"Mein Leben war die reinste Hölle, mein Vater..."
3,k00500000584,LLLL,M amp M,2011,Erstmal ein Vorwort:Hinter dem Account LLLL ...
4,k00500000602,Ichbinich,Neues Leben neue Liebe,2012,Endlich landete der Flieger und ich konnte a...
...,...,...,...,...,...
9806,k00500087323,Rauchschweif,Games of Death MMFF,2017,"Hi!Hier werden viele Leute sich denken: ""Oh ..."
9807,k00500088115,Korallenblatt,Pfad der Finsternis,2016,Hey! :)Jetzt musstet ihr doch nicht so lange...
9808,k00500088140,FlamingRose,Quiz,2017,Heute werde ich dieses Quiz offiziell als be...
9809,k00500088650,Nightwind,Unsichtbare Feinde,2013,Heeeeyy.... Also das ist meine erste FF. Sei...
9810,k00500088883,Rauchschweif,Warrior Cats Welt,2016,"Hallo,Ich habe bei der FF von Flamme mitgema..."

In [4]:
# Anzahl der Tokens als Spalte hinzufügen 
hp_ff['number_of_tokens'] = hp_ff['Text'].str.count(r'\w+')
hp_ff

,Unnamed: 0,Autor,Titel,Datum,Text,number_of_tokens
0,k00500000295,Child of Time,Artemis Fowl Neu Anfang,2016,"Irland, Fowl ManorIch sitze mit Artemis im W...",3772
1,k00500000306,berg-ulme,Die Atlantiskrise,2013,Die Atlantiskrise Titel: „Die Atlantiskrise...,15957
2,k00500000525,Little Jewel,Die pure Hoelle,2012,"Mein Leben war die reinste Hölle, mein Vater...",59182
3,k00500000584,LLLL,M amp M,2011,Erstmal ein Vorwort:Hinter dem Account LLLL ...,42528
4,k00500000602,Ichbinich,Neues Leben neue Liebe,2012,Endlich landete der Flieger und ich konnte a...,16570
...,...,...,...,...,...,...
9806,k00500087323,Rauchschweif,Games of Death MMFF,2017,"Hi!Hier werden viele Leute sich denken: ""Oh ...",49585
9807,k00500088115,Korallenblatt,Pfad der Finsternis,2016,Hey! :)Jetzt musstet ihr doch nicht so lange...,129779
9808,k00500088140,FlamingRose,Quiz,2017,Heute werde ich dieses Quiz offiziell als be...,2183
9809,k00500088650,Nightwind,Unsichtbare Feinde,2013,Heeeeyy.... Also das ist meine erste FF. Sei...,97023
9810,k00500088883,Rauchschweif,Warrior Cats Welt,2016,"Hallo,Ich habe bei der FF von Flamme mitgema...",9045

In [5]:
# Anzahl der Tokens im Vergleich
tokens_o = hp_o['number_of_tokens'].sum()
tokens_ff = hp_ff['number_of_tokens'].sum()
print('Anzahl der Tokens Original: ', tokens_o)
print('Anzahl der Tokens Fanfiction: ', tokens_ff)

Anzahl der Tokens Original:  1151799.0
Anzahl der Tokens Fanfiction:  277106551

--> Die beiden Korpora sind extrem unausgeglichen, was die Tokenanzahl betrifft

In [6]:
# Fanfiction auf ähnliche Länge kürzen wie Originale

# x = hp_ff['number_of_tokens'][0:21].sum()         
# durch ausprobieren: x = 1004398 bei [o:22] 

hp_ff_short = hp_ff[:21] 
hp_ff_short

# hp_ff_short.to_csv('data/df_fanfiction_short.csv', index=False)

,Unnamed: 0,Autor,Titel,Datum,Text,number_of_tokens
0,k00500000295,Child of Time,Artemis Fowl Neu Anfang,2016,"Irland, Fowl ManorIch sitze mit Artemis im W...",3772
1,k00500000306,berg-ulme,Die Atlantiskrise,2013,Die Atlantiskrise Titel: „Die Atlantiskrise...,15957
2,k00500000525,Little Jewel,Die pure Hoelle,2012,"Mein Leben war die reinste Hölle, mein Vater...",59182
3,k00500000584,LLLL,M amp M,2011,Erstmal ein Vorwort:Hinter dem Account LLLL ...,42528
4,k00500000602,Ichbinich,Neues Leben neue Liebe,2012,Endlich landete der Flieger und ich konnte a...,16570
5,k00500000623,Julax,Rosalies Rache,2010,"Nun, nach zahlreichen Kingdom Hearts und Har...",1272
6,k00500000628,BrillenEngelTrio,Schicksal bedeutet jemanden kennenzulernen de...,2011,Ich widme diesen OneShot drei wichtigen Pers...,5115
7,k00500000785,Rose Black,11 Beispiele dafuer wie man seine Kurzbeschrei...,2010,Anmerkung: Bevor ihr mich verhaut: alles nur...,742
8,k00500000982,Saphier82,A new Chance,2009,PrologSo endet nun mein Leben . Ich hätte ni...,28656
9,k00500001009,Phynale,A strange Duet,2012,Hier kommt unsere neueste Geschichte – das n...,126802
10,k00500001251,Snowmouse,Alles kommt anders,2012,"Also zuerst,ich bin mit dem Titel nicht wirk...",21484
11,k00500001267,MoonRainbow,Alltaegliches,2013,die figuren gehören stephenie meyer und die ...,78081
12,k00500001445,TanteVicky,Armscote House,2016,06.01.2013Langsam konnte man den anbrechende...,106567
13,k00500001711,Snowhoney,Beginning a new life,2010,"PrologIch war neu in der Stadt, na toll. Mei...",91808
14,k00500002106,Ley-,Bis s die Blaetter fallen,2015,Hallo und Willkommen zu meiner Fanfiction „B...,128470
15,k00500002112,cranksy,Bis s die Hoffnung stirbt,2010,Ich schaute in die liebevollen braunen Augen...,151188
16,k00500002190,MakeMySelf,Bis s du weisst was ich bin,2014,"Ich bin Nicki Black, 14 Jahre alt und zur hä...",17375
17,k00500002311,Alicia W,Bis s ich weiss wer ich bin,2015,Wir saßen im Flugzeug nach Italien. Ich muss...,33334
18,k00500002404,Ninni89,Bis s in die Unendlichkeit,2008,So. ich hoffe ich bekomme ein paar Reviews ^...,27017
19,k00500002439,Renata Volturi,Bis s mein Leben wieder einen Sinn hat,2009,"So, da mir einige Leute sehr nette Reviews g...",38135
20,k00500002449,Serenity silber,Bis s mir die Ideen ausgehen oder ich merke da...,2011,Jasper?Darf ich mich vorstellen ? Ich bin Ma...,10343

In [7]:
tokens_ff_short = hp_ff_short['number_of_tokens'].sum()
tokens_ff_short

1004398

<h3>Korpora: Harry Potter Original vs. Harry Potter Fanfiction (gekürzt)</h3>

In [2]:
hp_o = pd.read_csv('data/df_original.csv')
hp_o.head()

,Unnamed: 0,Autor,Titel,Übersetzer,Original_Titel,ISBN,Datum,Text,removed_stop_word_lower,removed_stop_word,number_of_tokens,number_of_types,clean_text,network_text
0,0,J.K. Rowling,HARRY POTTER und der Gefangene von Askaban,Klaus Fritz,Harry Potter and the Prisoner of Azkaban,978-1-78110-057-8,1999,"\n\n\nFür Jill Prewett und Aine Kiely,\n\ndie ...","\n\n\nfür jill prewett und aine kiely,\n\ndie ...","jill prewett aine kiely, patinnen souls inhalt...",115980.0,19479.0,jill prewett aine kiely patinnen souls inhalt ...,für jill prewett und aine kiely die patinne...
1,1,J.K. Rowling,HARRY POTTER und der Halbblutprinz,Klaus Fritz,Harry Potter and the Half-Blood Prince,978-1-78110-060-8,2005,"\n\n\nMackenzie,\n\nmeiner schönen Tochter,\n\...","\n\n\nmackenzie,\n\nmeiner schönen tochter,\n\...","mackenzie, schönen tochter, widme zwilling tin...",179884.0,26838.0,mackenzie schönen tochter widme zwilling tinte...,mackenzie meiner schönen tochter widme ich...
2,2,J.K. Rowling,HARRY POTTER und der Orden des Phönix,Klaus Fritz,Harry Potter and the Order of the Phoenix,978-1-78110-059-2,2003,"\n\n\n\n\nFür Neil, Jessica und David,\n\ndie ...","\n\n\n\n\nfür neil, jessica und david,\n\ndie ...","neil, jessica david, welt verzaubern inhalt du...",268898.0,35356.0,neil jessica david welt verzaubern inhalt dudl...,für neil jessica und david die meine welt ...
3,3,J.K. Rowling,HARRY POTTER und der Stein der Weisen,Klaus Fritz,Harry Potter and the Philosopher’s Stone,978-1-78110-055-4,1997,"\n\n\n\nFür Jessica, für Anne und fü Di;\n\nJe...","\n\n\n\nfür jessica, für anne und fü di;\n\nje...","jessica, anne fü di; jessica mag geschichten, ...",84152.0,15910.0,jessica anne fü di jessica mag geschichten ann...,für jessica für anne und fü di jessica mag ...
4,4,J.K. Rowling,HARRY POTTER und die Heiligtümer des Todes,Klaus Fritz,Harry Potter and the Deathly Hallows,978-1-78110-061-5,2007,\n\n\nDie\n\nWidmung\n\ndieses Buches\n\nist\n...,\n\n\ndie\n\nwidmung\n\ndieses buches\n\nist\n...,"widmung buches siebengeteilt: neil, jessica, d...",207576.0,29725.0,widmung buches siebengeteilt neil jessica davi...,die widmung dieses buches ist siebengete...

In [3]:
hp_ff = pd.read_csv('data/df_fanfiction_short.csv')
hp_ff.head()

,Unnamed: 0,Autor,Titel,Datum,Text,number_of_tokens
0,k00500000295,Child of Time,Artemis Fowl Neu Anfang,2016,"Irland, Fowl ManorIch sitze mit Artemis im W...",3772
1,k00500000306,berg-ulme,Die Atlantiskrise,2013,Die Atlantiskrise Titel: „Die Atlantiskrise...,15957
2,k00500000525,Little Jewel,Die pure Hoelle,2012,"Mein Leben war die reinste Hölle, mein Vater...",59182
3,k00500000584,LLLL,M amp M,2011,Erstmal ein Vorwort:Hinter dem Account LLLL ...,42528
4,k00500000602,Ichbinich,Neues Leben neue Liebe,2012,Endlich landete der Flieger und ich konnte a...,16570

In [4]:
tokens_o = hp_o['number_of_tokens'].sum()
tokens_ff = hp_ff['number_of_tokens'].sum()
print('Anzahl der Tokens Original: ', tokens_o)
print('Anzahl der Tokens Fanfiction: ', tokens_ff)

Anzahl der Tokens Original:  1151799.0
Anzahl der Tokens Fanfiction:  1004398

<h3>Kookurrenzmatrix</h3>

In [5]:
# nur der erste Harry Potter
hp1 = hp_o.drop([0, 1, 2, 4, 5, 6])
hp1

,Unnamed: 0,Autor,Titel,Übersetzer,Original_Titel,ISBN,Datum,Text,removed_stop_word_lower,removed_stop_word,number_of_tokens,number_of_types,clean_text,network_text
3,3,J.K. Rowling,HARRY POTTER und der Stein der Weisen,Klaus Fritz,Harry Potter and the Philosopher’s Stone,978-1-78110-055-4,1997,"\n\n\n\nFür Jessica, für Anne und fü Di;\n\nJe...","\n\n\n\nfür jessica, für anne und fü di;\n\nje...","jessica, anne fü di; jessica mag geschichten, ...",84152.0,15910.0,jessica anne fü di jessica mag geschichten ann...,für jessica für anne und fü di jessica mag ...

In [6]:
# Quelle: https://stackoverflow.com/questions/35562789/how-do-i-calculate-a-word-word-co-occurrence-matrix-with-sklearn

def co_occurance_matrix(input_text,top_words,window_size):
    co_occur = pd.DataFrame(index=top_words, columns=top_words)

    for row,nrow in zip(top_words,range(len(top_words))):
        for colm,ncolm in zip(top_words,range(len(top_words))):        
            count = 0
            if row == colm: 
                co_occur.iloc[nrow,ncolm] = count
            else: 
                for single_essay in input_text:
                    essay_split = single_essay.split(" ")
                    max_len = len(essay_split)
                    top_word_index = [index for index, split in enumerate(essay_split) if row in split]
                    for index in top_word_index:
                        if index == 0:
                            count = count + essay_split[:window_size + 1].count(colm)
                        elif index == (max_len -1): 
                            count = count + essay_split[-(window_size + 1):].count(colm)
                        else:
                            count = count + essay_split[index + 1 : (index + window_size + 1)].count(colm)
                            if index < window_size: 
                                count = count + essay_split[: index].count(colm)
                            else:
                                count = count + essay_split[(index - window_size): index].count(colm)
                co_occur.iloc[nrow,ncolm] = count

    return co_occur

In [11]:
corpus = hp1.Text
words = ['Harry', 'Ron', 'Hermine', 'Dumbledore', 'Malfoy']
window_size = 2

result = co_occurance_matrix(corpus, words, window_size)
result

           Harry Ron Hermine Dumbledore Malfoy
Harry          0  67      27          3      4
Ron           54   0      38          1      2
Hermine       17  34       0          0      0
Dumbledore     8   1       0          0      0
Malfoy         4   2       0          0      0